<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
    <style>
        body {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            justify-content:center;
        }
    </style>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">University Miniinstagram</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-end" id="navbarCollapse">
                <form class="form-inline mt-2 mt-md-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a asp-controller="Account" asp-action="Login" class="btn btn-outline-success my-2 my-sm-0">Login</a>
                        </div>
                    }
                </form>
            </div>
        </nav>

    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
