@using Microsoft.AspNetCore.Localization
@inject IViewLocalizer VLocalizer
@{
    Layout = MVC.Shared.Views._Layout;
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var curCulture = requestCulture.RequestCulture.Culture.Name;
}
<div class="centeredSt">
    @switch (curCulture)
    {
        case "en":
            {
                <select class="form-control mr-2" id="Language" name="Language">
                    <option>Русский</option>
                    <option selected>English</option>
                    <option>Deutsche</option>
                </select>
                break;
            }
        case "ru":
            {
                <select class="form-control mr-2 " id="Language" name="Language">
                    <option selected>Русский</option>
                    <option>English</option>
                    <option>Deutsche</option>
                </select>
                break;
            }
        case "de":
            {
                <select class="form-control mr-2" id="Language" name="Language">
                    <option>Русский</option>
                    <option>English</option>
                    <option selected>Deutsche</option>
                </select>
                break;
            }
    }
</div>
<script mvc-src="@Links.js.setLanguage_js"></script>
