@model LoginViewModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
    var vm = new LoginViewModel();  
}

<div>
    <form class="form-signin text-center" asp-controller="Account" asp-action="login" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <input type="email" name="Email" id="inputEmail" class="form-control mb-2" placeholder="Email address" required="" autofocus="">

        <input type="password" name="Password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <input type="text" name="returnUrl" hidden="hidden" value="@ViewBag.ReturnUrlParameter" />
        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
        <a class="text-center" asp-controller="Account" asp-action="Register">Don't have an account?</a>
    </form>
</div>
