@model ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.UserName;
}
<div class="centered col">
    <h1>@Model.Id</h1>
    <h2>@Model.Email</h2>
    @if (ViewBag.isAdmin)
    {
        <p>I'm Admin</p>
    }
    else
    {
        <p>I'm User</p>
    }
    <input type="text" name="numb" placeholder="1" />
    <button type="button" asp-controller="Account" asp-action="ProfileNumb">CLick</button>
</div>

