@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block shadow-sm" style="margin-top: 40px; width: 190px; height: 100%;
    position: fixed;
    top: 0;">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column" style="background-color:white;" >
            <li class="nav-item">
                <a class="nav-link active" style="color:black;" asp-controller="Admin" asp-action="GetPostReports">
                    Post reports <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" style="background-color:white;" >
                <a class="nav-link" style="color: black;" asp-controller="Admin" asp-action="GetCommentReports">
                    Comment reports
                </a>
            </li>
            <li class="nav-item" style="background-color:white;" >
                <a class="nav-link" style="color: black; " asp-controller="Admin" asp-action="SetDeleteRoles">
                    Roles
                </a>
            </li>
            <li class="nav-item" style="background-color:#343a40;" >
                <a class="nav-link" style="color: white;" asp-controller="Admin" asp-action="Appeals">
                    Appeals
                </a>
            </li>

        </ul>
    </div>
</nav>
